[submodule "third_party/xed"]
	path = third_party/xed
	url = https://github.com/intelxed/xed
[submodule "third_party/mbuild"]
	path = third_party/mbuild
	url = https://github.com/intelxed/mbuild
[submodule "third_party/stackwalker"]
	path = third_party/stackwalker
	url = https://github.com/geeksonsecurity/StackWalker
    branch = add-custom-function-table-access
